In [1]:
import pandas as pd
import numpy as np

In [9]:
?pd.read_csv

In [12]:
df_train = pd.read_csv("dataset/train.tsv", sep="\t")
df_test = pd.read_csv("dataset/test.tsv", sep="\t")

In [13]:
df_train.head()

,train_id,name,item_condition_id,category_name,brand_name,price,shipping,item_description
0,0,MLB Cincinnati Reds T Shirt Size XL,3,Men/Tops/T-shirts,NaN,10.0,1,No description yet
1,1,Razer BlackWidow Chroma Keyboard,3,Electronics/Computers & Tablets/Components & P...,Razer,52.0,0,This keyboard is in great condition and works ...
2,2,AVA-VIV Blouse,1,Women/Tops & Blouses/Blouse,Target,10.0,1,Adorable top with a hint of lace and a key hol...
3,3,Leather Horse Statues,1,Home/Home Décor/Home Décor Accents,NaN,35.0,1,New with tags. Leather horses. Retail for [rm]...
4,4,24K GOLD plated rose,1,Women/Jewelry/Necklaces,NaN,44.0,0,Complete with certificate of authenticity

In [14]:
# Train, Test 데이터셋 크기 확인

print(df_train.shape)
print(df_test.shape)

(1482535, 8)
(693359, 7)

In [16]:
# NULL 확인

df_train.isnull().any()

train_id             False
name                 False
item_condition_id    False
category_name         True
brand_name            True
price                False
shipping             False
item_description      True
dtype: bool

In [17]:
df_train.price.describe().round(3)

count    1482535.000
mean          26.738
std           38.586
min            0.000
25%           10.000
50%           17.000
75%           29.000
max         2009.000
Name: price, dtype: float64